#surface {
  border: 1px solid #222;
  box-shadow: rgba(#ddd, 0.1) 0 0 5px 5px;
  position: relative;
  background-color: rgba(orange, 0.2);

  &:before {
    content: ' ';
    opacity: 0.1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url("https://i.pinimg.com/564x/4c/09/df/4c09df014dc8132a8e1f59ca23a5662f.jpg");
  }
}

main.container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.mission-control {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.control-panel {
  width: 450px;
  display: flex;
  flex-direction: column;

  & > div {
    display: flex;
    justify-content: space-between;
  }
}

.surface-item {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  transition: all 0.1s cubic-bezier(0.500, 0.250, 0.500, 0.750);
  background-color: rgba(#fff, 0.1);

  &.rover {
    z-index: 1;
    background-color: transparent;
  }

  i {
    transition: 0.2s transform;

    &.mdi-flag {
      color: darkblue;
    }

    &.mdi-diamond-stone {
      color: white;
    }

    &.mdi-wall {
      color: darkred;
    }
  }
}

